 /*Define Your Custom CSS*/

 .navbar-default {
    background-color: transparent!important;
    border-color: transparent!important;
    border-radius: 0;
    padding-top: 20px;
}

.form-control1 input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.form-control1 textarea {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    /*height: 34px;*/
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.contact-form button {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    -moz-user-select: none;
    background-image: none;
    border:1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.home-content .input-group .form-control1 input {
    float: left;
    height: 60px;
    margin-bottom: 0;
    position: relative;
    width: 65%;
    z-index: 2;
}

.home-content .home-contact button {
    background: #82ca9c none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    display: inline-block;
    width: 35%;
    float: left;
    height: 60px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}
.menu-item .xepan-input-group input {
    float: left;
    border-radius:0px!important;
    margin-bottom: 0;
    position: relative;
    width: 65%!important;
    z-index: 2;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    /*height: 34px;*/
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}

.menu-item .xepan-input-group button {
    background: #82ca9c none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    display: inline-block;
    width: 35%;
    float: left;
    height: 34px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}